<% if notice %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>

<h2 class="sub-header">Book</h2>

<dl>
  <dt>Title:</dt>
  <dd><%= @book.title %></dd>

  <dt>Author:</dt>
  <dd><%= @book.author %></dd>

  <dt>Published on:</dt>
  <dd><%= @book.published_on %></dd>
</dl>

<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-default' %>
<%= link_to 'Back', books_path, class: 'btn btn-default' %>

<hr>

<dl>
  <dt>Tags:</dt>
  <dd>
    <% @book.taggings.each do |tagging| %>
      <span class="btn btn-info"><%= tagging.tag.name %></span>
      <%= link_to 'Edit', edit_book_tagging_path(@book, tagging), class: 'btn btn-xs btn-default' %>
      <%= link_to 'Delete', book_tagging_path(@book, tagging), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-default' %>
    <% end %>
  </dd>
</dl>

<%= link_to 'New Tagging', new_book_tagging_path(@book), class: 'btn btn-default' %>
