<%= form_for([@book, tagging]) do |f| %>
  <% if tagging.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tagging.errors.count, "error") %> prohibited this tagging from being saved:</h2>

      <ul>
      <% tagging.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :book_id %>
  </div>

  <dl>
    <dt>Title:</dt>
    <dd><%= @book.title %></dd>

    <dt>Author:</dt>
    <dd><%= @book.author %></dd>

    <dt>Published on:</dt>
    <dd><%= @book.published_on %></dd>
  </dl>

  <div class="form-group">
    <%= f.label :tag_id %>
    <%= f.select :tag_id, Tag.all.map{|t| [t.name, t.id]}, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit title, class: "btn btn-default" %>
  </div>
<% end %>
