<!DOCTYPE html>
<html>
    <title>Monka</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="<%= (request.original_fullpath == '/') ? 'active' : active_class('products') %>"><%= link_to 'Home', root_path %></li>
            <li role="presentation" class="<%= active_class('about') %>"><%= link_to 'About', about_path %></li>
          </ul>
        </nav>
        <h3 class="text-muted">Monka</h3><!-- todo:githubのprj名の公表okでしょうか？ -->
      </div>

      <%= yield %>

      <footer class="footer">
        <p>&copy; 2016 文科省IT人材育成プロジェクト</p><!-- todo:prj名公表okでしょうか？ -->
        <p>code: </p><!-- todo:公開するrailsのコードの場所を書いておきたいです。 -->
      </footer>

    </div> <!-- /container -->

  </body>
</html>

